<title>JobbedIn | Find your dream job</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="A centralized location for posting jobs listings and commenting on other peoples jobs. Find your dream job.">
<meta name="image" property="og:image" content="<%= asset_url 'dream-job.jpg' %>">
<meta name="author" content="Discovery Partners Institute">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
