<div class="row">
  <div class="col-md-6 mt-5">
    <h1 class="display-4">Find your dream job</h1>
    <p class="lead mb-4">A centralized location for posting jobs listings and commenting on other peoples jobs.</p>
    
    <div class="mb-4">
      <h5>Perfect for:</h5>
      <ul class="list-unstyled">
        <li><i class="fa-solid fa-circle-check text-success me-2"></i>Job seekers</li>
        <li><i class="fa-solid fa-circle-check text-success me-2"></i>Employers</li>
        <li><i class="fa-solid fa-circle-check text-success me-2"></i>Recruiters</li>
      </ul>
    </div>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a class="btn btn-primary btn-lg px-4 me-md-2" href="/users/sign_up">Get Started</a>
      <!-- TODO
      <a class="btn btn-outline-secondary btn-lg px-4" href="#features">Learn More</a>
      -->
    </div>
  </div>
  
  <div class="col-md-6 d-flex align-items-center justify-content-center mt-5">
    <div class="card border-0 shadow-sm">
      <div class="card-body p-0">
        <img src="<%= asset_url 'briefcase.svg' %>" alt="Briefcase" class="img-fluid rounded">
      </div>
    </div>
  </div>
</div>
